:root{
    --background: hsl(235, 21%, 11%);
    --items: hsl(235, 24%, 19%);
    --font: hsl(234, 39%, 85%);
    --secondaryFont: hsl(234, 11%, 52%);
    --thirdFont: hsl(236, 33%, 92%);
    --fourthFont: hsl(233, 14%, 35%);
    --margin: 5%;
    --border: hsl(233, 14%, 35%);
    --mobileBg: url(images/bg-mobile-dark.jpg);
    --desktopBg: url(images/bg-desktop-dark.jpg);
}

body{
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    background-color: var(--background);
    color: var(--thirdFont)
}   

header{
    position: absolute;
    z-index: -1;
    top: 0;
    background: var(--mobileBg) no-repeat;
    width: 100vw;
    height: 200px;
}

h1{
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 0.2em;
    margin: var(--margin);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new{
    display: flex;
    align-items: center;
    padding: 1em 0;
}

.new > .circle{
    margin-left: 1em;
}

main, 
.new, 
.filter {
    background-color: var(--items);
    border-radius: 0.5rem;
    color: var(--secondaryFont);
    margin: 1em var(--margin);

}

.filter{
    font-weight: 700;
    padding: 1em 0;

}

.circle {
    height: 1.5em;
    width: 1.5em;
    margin-right: var(--margin);
    border-radius: 50%;
    border: thin var(--border) solid;
}

.text{
    flex-basis: 80%;
    word-break: break-word;
    padding-top: 1%;
}

[contenteditable] {
    outline: 0px solid transparent;
  }

.add{
    transform: rotate(45deg);
}

main > *{
    display: flex;
    padding: 1em;
}

.delete {
    margin-left: 5%;
}

.last-row{
    height: fit-content;
    justify-content: space-between;
    color: var(--secondaryFont);
    font-size: 0.9em;
}

.new:hover,
.clear:hover,
.delete:hover,
.list > .circle:hover,
.filter *:hover ,
.app-theme:hover,
a:hover, 
li:hover{
    cursor: pointer;
}

[draggable = "true"]:hover{
    cursor: grab;
}

[draggable = "true"]:active{
    cursor: grabbing;
}

.text:focus{
    color: var(--font);
}

.filter > *{
    margin: 0;
}

.filter *{
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    color: var(--secondaryFont);

}

.filter > *{
    display: flex;
    justify-content: space-evenly;
}

p{
    text-align: center;
    color: var(--secondaryFont);
    margin-top: 3em;
}

.attribution {
    color: var(--secondaryFont);
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: #3e52a3;
}

.cursor-text{
    cursor: text;
}

.list{
    align-items: center;
    color: var(--font);
}

.padding-border{
    border-bottom: thin var(--border) solid;
}

.flex-basis{
    flex-basis: 80%;
    padding-top: 1%;
}

.completed{
    background: center left 50% url(images/icon-check.svg) no-repeat, 
    linear-gradient(#57ddff, #c058f3);
}

.strikethrough{
    text-decoration: line-through;
    color: var(--fourthFont);
}

.current{
    color: hsl(220, 98%, 61%);
}

.display-off{
    display: none;
}

.dragging{
    opacity: 0.2;
}

h1, 
.new, 
main, 
.filter, 
p, 
footer{
    max-width: 650px;
}

@media screen and (min-width: 375px) {
    header{
        background: var(--desktopBg) no-repeat;
        background-size: cover;
        height: 300px;
    }  
}

@media screen and (max-width: 650px) {
    .new{
        padding-right: 0.5em;   
    }
}


@media screen and (max-width: 450px) {
    .new{
        padding-right: 1em;   
    }
}

@media screen and (min-width: 700px) {
    h1, 
    .new, 
    main, 
    p, 
    footer{
        margin-right: auto;
        margin-left: auto;
    }

    .filter{
        margin: 0 10%;
        padding: 0;
        flex: 1;
    }
    
}

@media screen and (min-width: 1440px) {
    h1{
        margin: 72px auto;
    }
    
}

